.App {
  background: url('./assets/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
}

.mainBox {
  background-color: black;
  opacity: .75;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding: 80px 40px;
}

a {
  color: white;
}

.header {
  color: white;
  padding: 20px;
}

.holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.results {
  width: 250px;
  min-height: 75px;
  border: 1px solid white;
}

.result-p {
  display: inline-block;
  color: white;
  font-size: 25px;
}

.result-p:after { 
  content: ", ";
  white-space: pre;
}

.result-p:last-of-type:after {
  content: ""
}